    <video id="video" poster="../../assets/fcknaagdierlogo.jpg" webkit-playsinline playsinline  style="outline: none" width="100%
    "  height="50%">
                <source  type="video/mp4">
            </video>
            <div style="position: sticky -webkit-sticky;">
           <button class="buttonstyle" id="playvideo">Play</button>
            <button class="buttonstyle" id="pausevideo">Pause</button>
            <button class="buttonstyle" id="volgendevideo">Volgende video</button>
            <button class="buttonstyle" id="vorigevideo">Vorige Video</button>
            </div>