
        <audio id="audio" webkit-playsinline playsinline autoplay controlsList="nodownload">
    <source src="" type="audio/mpeg">
</audio>
<div style="     position: sticky !important;
top: 80% !important;">
<button class="buttonstyle" id="start">Start</button>
    <button class="buttonstyle" id="new-song">Volgende liedje</button>
    <button class="buttonstyle" id="pause">Play</button>
</div>
<div style="background-color:white !important;">
    <h2>10.000 Beukennoten</h2>
<p>
Kom je mee, we gaan naar de shop
<br>
Samen voor nop.
<br>
daar kopen we beukennoten zo top.
<br>
<br>
En we vragen onze ouders heel lief.
<br>
Koop geen sla.
<br>
maar koop beukennoten.
<br>
<br>
Knaagt snel.
<br>
Beukennoten eten we wel.
<br>
<br>
10.000 beukennoten eten we met elkaar.
<br>
10.000 beukennoten nooit is het is klaar,
<br>
Sla beginnen we niet aan.
<br>
10.000 beukennoten eten we met elkaar.
<br>
<br>
10.000 beukennoten eten we met elkaar.
<br>
10.000 beukennoten nooit is het is klaar,
<br>
Sla beginnen we niet aan.
<br>
10.000 beukennoten eten we met elkaar.
<br>
<br>
Zijn we allemaal weer dik
<br>
Weet je wat ik dan zeg
<br>
Dat komt door die beukennoten.
<br>
<br>
Ik heb mijn bestelling al klaar.
<br>
Beukennoten kopen dan maar.
<br>
Ik koop dichtbij, niet ver hier vandaan.
<br>
<br>
Knaagt snel.
<br>
Beukennoten eten we wel.
<br>
<br>
10.000 beukennoten eten we met elkaar.
<br>
10.000 beukennoten nooit is het is klaar,
<br>
Sla beginnen we niet aan.
<br>
10.000 beukennoten eten we met elkaar.
<br>
<br>
10.000 beukennoten eten we met elkaar.
<br>
10.000 beukennoten nooit is het is klaar,
<br>
Sla beginnen we niet aan.
<br>
10.000 beukennoten eten we met elkaar.
<br>
<br>
Ik knaag beukennoten.
<br>
Ik knaag beukenno
<br>
Sla komt nog wel.
<br>
Sla komt nog wel.
<br>
<br>
10.000 beukennoten eten we met elkaar.
<br>
10.000 beukennoten nooit is het is klaar,
<br>
Sla beginnen we niet aan.
<br>
10.000 beukennoten eten we met elkaar.
<br>
<br>
10.000 beukennoten eten we met elkaar.
<br>
10.000 beukennoten nooit is het is klaar,
<br>
Sla beginnen we niet aan.
<br>
10.000 beukennoten eten we met elkaar.
</p>
<h2>Vrede Wereldwijd</h2>
<p>
    <p>Nee ik wil geen duur cadeau als bever.
        <br/>
Deze keer geen Xhout met een rode strik
        <br/>
Maar alleen maar goede vrienden om te lachen en te feesten.
        <br/>
Ja alleen maar goede vrienden dat wil ik.
        <br/>
        <br/>
Nee ik wil geen duur cadeau als Bever
        <br/>
Ik heb alles wat mijn beverhart begeert
        <br/>
Maar ik wil toch wel een weten of die
        <br/>
heftige dicators.
        <br/>
Hun lesje nu nog niet hebben geleerd
        <br/>
        <br/>
Vrede wereldwijd
        <br/>
Dat is mijn wens
        <br/>
Vrede wereldwijd
        <br/>
Voor elk knaagdier gewenst.
        <br/>
Vrede wereldwijd
        <br/>
Hoop dat dat komt bij tijd.
        <br/>
Dan hebben we samen wat bereikt.
        <br/>
        <br/>
Vrede wereldwijd
        <br/>
Dat is mijn wens
        <br/>
Vrede wereldwijd
        <br/>
Voor elk knaagdier gewenst.
        <br/>
Vrede wereldwijd
        <br/>
Hoop dat dat komt bij tijd.
        <br/>
Dan hebben we samen wat bereikt.
        <br/>
        <br/>
Nee ik wil geen duur cadeau als bever.
        <br/>
Geef mij maar een doos vol vrede en geen geld
        <br/>
Want wie wil er nu niet leven in een
        <br/>
Wereld zonder oorlogIn een wereld zonder ruzie of geweld
        <br/>
        <br/>
Nee, ik wil geen duur cadeau als bever.
        <br/>
Maar ik heb alleen een doodgewone vraag.
        <br/>
Waarom kunnen die dictators hun mond niet houden, liefst vanaf vandaag.
        <br/>
        <br/>
Vrede wereldwijd
        <br/>
Dat is mijn wens
        <br/>
Vrede wereldwijd
        <br/>
Voor elk knaagdier gewenst.
        <br/>
Vrede wereldwijd
        <br/>
Hoop dat dat komt bij tijd.
        <br/>
Dan hebben we samen wat bereikt.
        <br/>
Vrede kan er toch alleen maar zijn
        <br/>
als jij en ik
        <br/>
Nooit meer ruzie maken met elkaar
        <br/>
Want hoe kan je willen dat de wereld
        <br/>
Niet meer vecht
        <br/>
Als jij zelf die vrede niet bewaart
        <br/>
        <br/>
Dat is waar hé, Bertje.
        <br/>
Ja he Ricardo.
        <br/>
        <br/>
Vrede wereldwijd
        <br/>
Dat is mijn wens
        <br/>
Vrede wereldwijd
        <br/>
Voor elk knaagdier gewenst.
        <br/>
Vrede wereldwijd
        <br/>
Hoop dat dat komt bij tijd.
        <br/>
Dan hebben we samen wat bereikt.
        <br/>
        <br/>
</div>