<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rodenttube</title>
</head>
        <img src="https://github.com/rgcreator/Rodenttube/blob/main/images/Rodenttube%20logo.png?raw=true" height="50px" alt="logo">
        <div style="background-color: #654321;">
        <p style="text-align: center; font-weight: bold;" id="title"></p>
        <p style="text-align: center; font-weight: bold;" id='author' ></p>
        </div>
      <br>
        <a class="buttonstyle" routerLink="/audio"><p>Audio</p></a>
        <a class="buttonstyle" routerLink="/video"><p>Video</p></a>
<footer>
  <p style="font-size: 30px; background-color: #654321;">Wij gebruiken clicky. Een privacyvriendelijk alternatief op Google Anayltics. Dit gebruiken wij om bij te houden hoevaak mensen onze content bekijken. Privacyverklaring: <a href="https://clicky.com/terms">https://clicky.com/terms</a></p>
</footer>
<router-outlet></router-outlet>



