<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rodenttube</title>
</head>
	     <body>
        <ion-card scrollY="true">
<ion-item>
        <img src="https://github.com/rgcreator/Rodenttube/blob/main/images/Rodenttube%20logo.png?raw=true" height="50px" alt="logo">
        <div style="background-color: #654321;">
        <p style="text-align: center; font-weight: bold;" id="title"></p>
        <p style="text-align: center; font-weight: bold;" id='author' ></p>
        </div>
      <br>
        <a routerLink="/audio"><p>Audio</p></a>
        <a routerLink="/video"><p>Video</p></a>
        <p id="data"></p>
</ion-item>
      </ion-card>

      <router-outlet><router-outlet>


