<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rodenttube</title>
</head>
	     <body>
        <article style="background-color: #654321; color: rgb(110,164,100);"><p>Wij gebruiken Clicky. Een privacyvriendelijk alternatief op Google Analytics. Wij doen dit om te zien hoeveel mensen onze website bezoeken. Wij gebruiken geen cookies.</p> <a href="https://clicky.com/terms">Clicky's Terms of Service</a> <br><a href="https://clicky.com/terms/privacy">Privacy Policy</a></article>
        <a title="Web Analytics" href="https://clicky.com/101391948"></a>
        <script async data-id="101391948" src="//static.getclicky.com/js"></script>

        <img src="https://github.com/rgcreator/Rodenttube/blob/main/images/rodenttube%20banner%20bs.png?raw=true" height="50px" class="banner" alt="logo">
        <img src="https://github.com/rgcreator/Rodenttube/blob/main/images/Rodenttube%20logo.png?raw=true" height="50px" alt="logo">
        <div style="background-color: #654321;">
        <p style="text-align: center; font-weight: bold;" id="title"></p>
        <p style="text-align: center; font-weight: bold;" id='author' ></p>
        </div>
      <br>
        <a routerLink="/audio"><p>Audio</p></a>
        <a routerLink="/video"><p>Video</p></a>
      <router-outlet></router-outlet>
