/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
audio{
    display: block;
 margin-left: auto;
    margin-right: auto;
}
html{
  overflow-y: scroll !important;
}

.buttonstyle{
  background-color: #654321;
  width: 100%;
  height: 50px;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  border: none;
  color: rgb(110, 164, 110);
}
.buttonstyle:hover {
  border: 10px solid rgb(110, 164, 110) !important;
}
a:hover{
  border: 4px solid rgb(110, 164, 110);
}
p{
    color: rgb(110, 164, 110);
}
body, html{
  background: url('assets/fcknaagdierlogo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll !;
}
html, body{
  overflow-y: scroll !important;
}
p:hover{
    border: 8px solid rgb(110, 164, 110) !important;
}
button:hover {
    border: 10px solid rgb(110, 164, 110) !important;
}


